*{
    padding: 0px;
    margin: 0px;
}

body {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 100px;
   height: 100vh;
   background-color:azure;

}

.container {
    background-color: rgba(0, 139, 139, 0.445);
    width: 400px;
    height: 300px;
    text-align: center;
    border-radius: 15px;
    box-shadow: blanchedalmond;
    box-shadow: -7px 11px 10px 0px rgba(0,0,0,0.44);
    -webkit-box-shadow: -7px 11px 10px 0px rgba(0,0,0,0.44);
    -moz-box-shadow: -7px 11px 10px 0px rgba(0,0,0,0.44);
}

.container h1 {
    padding: 10px;
    margin-top: 5px;
}
.container ol {
    text-align: left;
    margin-left: 50px;
    padding-top: 50px;
    gap: 5px;
    font-size: medium;
}

.container ol li {
    font-size: 20px;
}

p {
    padding: 10px;
    text-align: left;
    margin-left: 25px;
}

